<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

    <nav class="navbar navbar-light navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand"></a>
          </div>
          <div class="navbar-left"><img src="/assets/GP.jpg" height="78px" width="78px"></div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="link da inserire">Alfio</a></li>
            <li><a href="link da inserire">Bruno</a></li>
            <li><a href="link da inserire">Carlo</a></li>
          </ul>
        </div>
      </nav>

  <div class="content">
  <h3>Basic Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  </div>

  <div class="footer">
  <p class="footelement"> Contatti </p>
  <p class="footelement"> Indirizzo </p>
  <p class="footelement"> Info </p>
  <p class="footelement"> Azienda </p>
  </div>


