/* You can add global styles to this file, and also import other style files */

.green-color{
    color: rgb(0,136,0);
}

.green-back{
    background-color: rgb(0,136,0);
}

.footer {
    height: 100px;
    width: 100%;
    background-color: #82b74b;
    }

      
.header {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        background-color: #f1f1f1;
      }
      
.header h2 {
        text-align: center;
      }

      
      
.content {
        margin: 120px auto;
        width: 90%;
        font-family: Comfortaa,cursive;
      }
 
.footelement {
    float:left;
    margin-top: 15px;
    margin-left: 16%;
    font-family: Comfortaa, cursive;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.navbar-left {
    height: 50px;
}

.navbar {
    color:#FFFFFF;
    background-color: #82b74b;
    height: 80px;
}

.navbar a {
    margin-top: 15px;
    margin-right: 20px;
    font-family: Comfortaa, cursive;
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(0,136,0);
    transition: 0.8s;
    border-radius: 20%;
  }


  body {
    background-image: linear-gradient(#83b74b8a, white);
  }

.content p{
    font-style: italic;
}

.content h3 {
    font-weight: 900;
}